{% extends 'base.html' %}

{% block head %}
<!--     <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">-->
    <link rel="stylesheet" href="../static/css/about.css">

    <title>Blitz | About</title>
{% endblock %}

{% block main %}
    <main class="main">
        <div class="container">
            <div class="about-title">
                <div class="title text-uppercase">About us</div>
                <div class="subtitle">Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae<br>
                    vitae dicta sunt explicabo nemo enim ipsam voluptatem.</div>
            </div>      <!--about-title-->
            <hr class="line">

            <div class="about-text">
                <div class="about-text-items d-flex justify-content-between">
                    <!--1-->
                    <div class="about-text-item">
                        <div class="title text-uppercase">Our philosophy</div>
                        <div class="subtitle d-flex flex-wrap">Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.</div>
                        <div class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</div>
                    </div>

                    <!--2-->
                    <div class="about-text-item">
                        <div class="title text-uppercase">Our philosophy</div>
                        <div class="subtitle d-flex flex-wrap">Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.</div>
                        <div class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</div>
                    </div>

                    <!--3-->
                    <div class="about-text-item">
                        <div class="title text-uppercase">Our philosophy</div>
                        <div class="subtitle d-flex flex-wrap">Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.</div>
                        <div class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</div>
                    </div>
                </div>
            </div>      <!--about-main-->

            <div class="about-persons">
                <hr class="line">
                <div class="person-items d-flex justify-content-between">
                    <!--1-->
                    <div class="person">
                        <img src="../static/images/about_person.jpg" alt="person">
                        <div class="about-person">
                            <div class="info-person">
                                <div class="info-left">
                                    <div class="name text-uppercase">Jane Doe</div>
                                    <div class="prof text-uppercase">CEO</div>
                                </div>
                                <div class="info-right">
                                     <div class="id">1.306.432.0065</div>
                                </div>
                            </div>
                            <div class="person-desc">
                                Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laud antium, totam rem aperiam.
                            </div>
                        </div>
                    </div>

                    <!--2-->
                    <div class="person">
                        <img src="../static/images/about_person.jpg" alt="person">
                        <div class="about-person">
                            <div class="info-person">
                                <div class="info-left">
                                    <div class="name text-uppercase">Jane Doe</div>
                                    <div class="prof text-uppercase">CEO</div>
                                </div>
                                <div class="info-right">
                                     <div class="id">1.306.432.0065</div>
                                </div>
                            </div>
                            <div class="person-desc">
                                Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laud antium, totam rem aperiam.
                            </div>
                        </div>
                    </div>

                    <!--3-->
                    <div class="person">
                        <img src="../static/images/about_person.jpg" alt="person">
                        <div class="about-person">
                            <div class="info-person">
                                <div class="info-left">
                                    <div class="name text-uppercase">Jane Doe</div>
                                    <div class="prof text-uppercase">CEO</div>
                                </div>
                                <div class="info-right">
                                     <div class="id">1.306.432.0065</div>
                                </div>
                            </div>
                            <div class="person-desc">
                                Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laud antium, totam rem aperiam.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  <!--container-->
    </main>
{%  endblock%}