<!DOCTYPE html>
<html lang="en" style="position: relative">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}"> -->
    <script src="https://kit.fontawesome.com/254acde86d.js" crossorigin="anonymous"></script>
    {% block head %}<!--здесь подключаем сначала css файлы, а потом title-->{% endblock %}
    </head>
    <body style="position: relative">
        <header class="header">
                <div class="header-line"></div>
                <div class="container">
                    <div class="header-top row d-flex justify-content-between align-items-center">
                        <div class="logo">
                            <p>Blitz</p>
                        </div>

                        <div class="header-nav row d-flex pb-1">
                            <!--1-->
                            <div class="nav-item text-uppercase px-xl-5 px-lg-5 px-sm-5 px-5" style="position: relative;">
                                <div class="suptitle">Homepage</div>
                                <a href="/home" class="nav-a text-decoration-none">Home</a>
                            </div>

                            <!--2-->
                            <div class="nav-item px-xs-5 text-uppercase px-xl-5 px-lg-5 px-sm-5 px-5" style="position: relative;">
                                <div class="suptitle">Who are we?</div>
                                <a href="/about" class="nav-a text-decoration-none">About</a>
                            </div>

                            <!--3-->
                            <div class="nav-item text-uppercase px-xl-5 px-lg-5 px-sm-5 px-4" style="position: relative;">
                                <div class="suptitle">My portfolio</div>
                                <a href="/projects" class="nav-a text-decoration-none">Projects</a>
                            </div>

                            <!--4-->
                            <div class="nav-item text-uppercase px-xl-5 px-lg-5 px-sm-5 px-5" style="position: relative;">
                                <div class="suptitle">Latest news</div>
                                <a href="/blog&p=1" class="nav-a text-decoration-none">Blog</a>
                            </div>

                            <!--5-->
                            <div class="nav-item text-uppercase px-xl-5 px-lg-5 px-sm-5 px-5" style="position: relative;">
                                <div class="suptitle">Get in touch</div>
                                <a href="/contact" class="nav-a text-decoration-none">Contact</a>
                            </div>

                            <!--6-->
                            {% if current_user.has_role('admin') %}
                            <div class="nav-item text-uppercase px-xl-5 px-lg-5 px-sm-5 px-5" style="position: relative;">
                                <div class="suptitle">Administrate</div>
                                <a href="/admin" class="nav-a text-decoration-none">Admin</a>
                            </div>
                            {% endif %}
                        </div>      <!--/header-nav-->
                    </div>
                </div>      <!--/container-->
        </header>       <!--/header-->

        {% block main %}<!--содержание каждой страницы-->{% endblock %}

        <footer class="footer">
            <hr class="footer-line">
            <div class="footer-text">
                <div class="container">
                    <div class="copyright float-left">All Content Copyright 2012 - Blitz. All Rights Reserved. </div>
                    <div class="developed float-right">Site Developed by <b>Best PSD Freebies</b></div>
                    {% if current_user.is_authenticated %}
                    <a href="logout" class="developed float-right">Logout</a>
                    {% else %}
                    <a href="login" class="developed float-right">Login</a>
                    {% endif %}
                </div>  <!--/container-->
            </div>
        </footer>   <!--/footer-->

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script async>
            document.addEventListener("DOMContentLoaded", function() {

                let title = document.getElementsByTagName('title')[0].innerHTML;
                if (title.includes('Home')) {
                    let home = document.querySelectorAll('.nav-a')[0];
                    home.classList.toggle('active');
                }

                if (title.includes('About')) {
                    let about = document.querySelectorAll('.nav-a')[1];
                    about.classList.toggle('active');
                }

                if (title.includes('Projects')) {
                    let projects = document.querySelectorAll('.nav-a')[2];
                    projects.classList.toggle('active');
                }

                if (title.includes('Blog')) {
                    let blog = document.querySelectorAll('.nav-a')[3];
                    blog.classList.toggle('active');
                }

                if (title.includes('Contact')) {
                    let contact = document.querySelectorAll('.nav-a')[4];
                    contact.classList.toggle('active');
                }
            })


            // прижимаем footer книзу 

            let main = document.querySelector('.main');

            let headerH = getComputedStyle(document.querySelector('.header')).height;
            let mainH = getComputedStyle(main).height;
            let footerH = getComputedStyle(document.querySelector('.footer')).height;

            let height = `calc(100vh - ${headerH} - ${footerH})`;
            console.log(height)
            main.style.minHeight = height;

        </script>
    </body>
</html>
